/*
 * PRODUCT ARCHIVE
 */
 .woocommerce ul.products li.product li.title a {
    font-size:1.6rem;
    font-weight: bold;
    height:50px;
 }

 .woocommerce ul.products li.product li.category {
    display:none;
 }

 .woocommerce ul.products .woo-entry-inner .wa_price_badges {
    position: relative;
    transform: none;
    left: auto;
    bottom: auto;
    padding: 0;
    float: left;
}

.woocommerce ul.products li.product.sale .price.main_price .amount {
    font-size: 1.8rem;
    display: block;
    font-weight: bold;
    color:var(--wa-pink) !important;
}

.woocommerce ul.products li.product .price.main_price {
    margin-bottom: 10px;
    margin-top: 7px !important;
}

.woocommerce ul.products li.product .price.main_price .amount {
    font-weight: bold;
    font-size: 1.8rem;
}

.woocommerce ul.products li.product.sale .price.main_price {
    float: left;
    margin-left: 10px;
    text-align:left;
}

.woocommerce ul.products li.product p.price.extra_info_price {
    font-size: 1.2rem !important;
    padding:0px 20px;
    margin:0px;
    text-align:left;
    color: #9b9b9b;
    font-weight: 400;
    font-size: 1.4rem !important;
    line-height: 21px;
    color: var(--wa-black) !important;
}
.wa-woocommerce-shop-loop li.product p.price.extra_info_price_text,
.woocommerce ul.products li.product p.price.extra_info_price_text{
    font-size: 1.2rem !important;
    padding:0px 20px;
    text-align:left;
    color: #9b9b9b;
}
.wa-woocommerce-shop-loop ul.products li.product .price.extra_info_price_text,
body.woocommerce ul.products li.product .price.extra_info_price_text {
    font-size: 1.2rem !important;
    color: #9b9b9b;
    margin-top: 5px;
    text-align:left;
}


.wa-woocommerce-shop-loop ul.products li.product .price.wc-gzd-additional-info .amount,
.wa-woocommerce-shop-loop ul.products li.product .wc-gzd-additional-info span{
    color: var(--wa-gray1) !important;
    font-size: 1.2rem !important;
    line-height: 18px !important;
}

.wa-woocommerce-shop-loop ul.products li.product .price.extra_info_price_text,
body.woocommerce ul.products li.product .price.extra_info_price_text {
    margin-bottom:25px;
    text-align:left;
}
body.woocommerce .wa-woocommerce-shop-loop-grid ul.products li.product .price.extra_info_price_text {
    margin-bottom:0px !important;
}

.wa-woocommerce-shop-loop li.product.sale .price.extra_info_price_text,
body.woocommerce ul.products li.product.sale .price.extra_info_price_text {
    margin-bottom:0px;
    text-align:left;
}

.woocommerce.wa-woocommerce-shop-loop ul.products li.product .price {
    text-align:left;
}
.single-post:not(.elementor-page) .entry-content a:not(.wp-block-button__link):not(.wp-block-file__button), .page:not(.elementor-page):not(.woocommerce-page) .entry a:not(.wp-block-button__link):not(.wp-block-file__button),
.single-post:not(.elementor-page) .entry-content a:not(.wp-block-button__link):not(.wp-block-file__button):hover, .page:not(.elementor-page):not(.woocommerce-page) .entry a:not(.wp-block-button__link):not(.wp-block-file__button):hover {
    text-decoration: none !important;
}
.woocommerce.wa-woocommerce-shop-loop .slick-arrow {
    cursor:pointer;
}
.woocommerce.wa-woocommerce-shop-loop .slick-arrow path {
    fill:#ccc
}
.woocommerce.wa-woocommerce-shop-loop .slick-arrow:hover path {
    fill:var(--wa-pink)
}
.woocommerce.wa-woocommerce-shop-loop .wa-slick_prev.slick-arrow {
    position: absolute;
    top: -45px;
    right: 55px;
}

.woocommerce.wa-woocommerce-shop-loop span.onsale {
    display:none;
}


.woocommerce.wa-woocommerce-shop-loop .wa-slick_next.slick-arrow {
    position: absolute;
    top: -45px;
    right: 10px;
}

.woocommerce.wa-woocommerce-shop-loop h2 a {
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}



@media all and (min-width: 1024px) {
    .woocommerce.wa-woocommerce-shop-loop .wa-slick {
        padding: 0 48px !important;
    }
    .woocommerce-cart .woocommerce.wa-woocommerce-shop-loop .wa-slick {
        padding:0 !important;
    }
    .woocommerce.wa-woocommerce-shop-loop .wa-slick_prev.slick-arrow {
        position: absolute;
        top: -45px;
        right: 105px;
    }

    .woocommerce.wa-woocommerce-shop-loop .wa-slick_next.slick-arrow {
        position: absolute;
        top: -45px;
        right: 55px;
    }
}

/*
 * SINGLE PRODUCT
 */
body.single-product div.product p.price.extra_info_price .amount,
body.single-product div.product p.price.extra_info_price, 
body.single-product div.product p.price.extra_info_price del span, 
body.single-product div.product p.price.extra_info_price ins span, 
body.single-product div.product p.price.extra_info_price del {
    color: #6a6a6a;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border: none;
    opacity: 1;
    margin-top: -3px;
}
body.single-product .wa_price_badges { float:left; margin-right:10px;}

body.single-product p.wc-gzd-additional-info.delivery-time-info {
    clear: none;
    float: left;
    margin-top: -5px !important;
}

body.single-product .legal-price-info {
    float: left;
    margin-top: -5px !important;

}

body.single-product p.stock {
    clear: left;
    margin-top:20px !important;
}
body.single-product .main_price del {
    display:none !important;
}

.woocommerce ul.products li.product p.price.extra_info_price .price.extra_info_price {
    padding:0px;
}



.woocommerce.wa-woocommerce-shop-loop.columns-4 {
    display: block !important;
    width: 100%;
    overflow: hidden;
    padding-top: 45px;
}